.App {
  text-align: center;
}

.flex{
  display: flex ;
  justify-content: space-around;
}

.label{
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width:100%;
}
.MuiInputBase-root {
  background-color: #fff
}
